@model List<MielMasse.Models.Domain.Utilisateur>

@{
}

<h1>Utilisateurs</h1>

<form asp-action="IndexUtilisateurs" method="get">
    <div class="form-group">
        <label for="SearchString">Recherche Nom : </label>
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th><a asp-action="IndexUtilisateurs" asp-route-sortOrder="@ViewData["NomSortParam"]">
                Nom</a></th>
            <th><a asp-action="IndexUtilisateurs" asp-route-sortOrder="@ViewData["GsmSortParam"]">
                Gsm</a></th>
            <th>Adresse</th>
            <th>Parrain</th>
            <th>Filleuls</th>
            <th>Primes usées</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var utilisateur in Model)
        {
            <tr>
                <td>@utilisateur.Nom</td>
                <td>@utilisateur.Gsm</td>
                <td>@utilisateur.Adresse</td>
                <td>@utilisateur.ParrainId</td>
                <td>@utilisateur.NbFilleuls</td>
                <td>@utilisateur.NbFilleulsUsed</td>
                <td>@utilisateur.Status</td>
                <td><a asp-action="ViewUtilisateur" asp-route-id="@utilisateur.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>